//溫度選擇 toggle
.toggle_temp {
    opacity: 0.8;

    &.toggle-checked {
        opacity: 1;
    }

    & .toggle-icon {
        background-color: white;

        @media screen and (max-width: 480px) {
            margin-top: -20px !important;
        }
    }
}

//溫度文字的顏色
//+
.input_pos_temperature {
    & input {
        background-color: black;
        color: white;
    }
}
//-
.input_neg_temperature {
    & input {
        background-color: #FFD306;
        color: red;
    }
}

.mysegment {
    height: 40px;

    & .segment-button {
        height: inherit;
        width: 40px;
    }

    & .segment-activated {
        color: white;
        font-size: x-large;
        background-color: #488aff;
    }
}
