//toggle
$toggle-md-track-width: 48px;
$toggle-md-track-height: 24px;
$toggle-md-handle-width: 24px;
$toggle-md-handle-height: 24px;
$toggle-md-padding-top: 2px;

//toolbar
$toolbar-ios-height: 40px;

//card head
$card-md-header-color: #FFFFFF;

//alert
$alert-md-max-width:  90%;

/*input*/
$text-input-md-highlight-color-invalid: transparent;
$text-input-md-highlight-color-valid: transparent;
$text-input-md-show-invalid-highlight: transparent;
$text-input-md-highlight-color: transparent;
$text-input-md-show-valid-highlight: transparent;

.item-md.item-input .item-inner {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
}

.list-md .item-input:last-child {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
}
