/* Empty. Add your own CSS if you like */
.KeyboardNumber .popup {
    width: 90%;
    height: 41%;
}

.KeyboardNumber .popup-head {
    display: none;
}

$font-family-base: Microsoft JhengHei;

/***區域***/
.bottom_BLOCK {
    font-size: small;
    color: #FFFF37;
    text-align: right;
}

/***input***/
input[type] {
    font-size: larger;
    background-color: black;
    color: white;
    border: solid #6C6C6C;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;

    &:focus {
        border: solid #FF8040;
    }
}

ion-textarea{
    font-size: larger;
    background-color: black;
    color: white;
    border: solid #6C6C6C;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;

    &:focus {
        border: solid #FF8040;
    }
}

/***block、menu***/
.mylist {
    margin: 0px 0px 0px 0px !important;

    & ion-item {
        border-width: 1px 1px 1px 1px;
        border-style: solid;
        border-color: white !important;

        & ion-label.item-left {
            max-width: 30% !important;
        }
    }

    & ion-grid {
        padding-left:16px;
        border-width: 1px 1px 1px 1px;
        border-style: solid;
        border-color: white !important;
        font-size:16px;

        & ion-col{
            padding-left:0px;
            padding-right:0px;
        }
    }
}

/***自訂的ion-grid***/
.mytable {
    //column通用
    & ion-col {
        font-size: 0.95em;
        text-align: center;
        padding: 4px;
        border-collapse: collapse;
        border: 1px solid #feb3b9;
    }

    //標題
    & .mytable_Head {
        background-color: #FF7A85;
        color: #FFFFFF;
    }

    //明細
    & .mytable_Detail {
        color: #000000;

        //奇數行
        &:nth-child(odd) {
            background-color: #fed2d6;
        }

        //偶數行
        &:nth-child(even) {
            background-color: #fdfdfd;
        }
    }
}

//toolbar最低高度
$toolbar-ios-height:40px;

/*移除input下方的底線*/
$text-input-md-highlight-color-invalid: transparent;
$text-input-md-highlight-color-valid: transparent;
$text-input-md-show-invalid-highlight: transparent;
$text-input-md-highlight-color: transparent;
$text-input-md-show-valid-highlight: transparent;
.item-md.item-input .item-inner { border-bottom-color: transparent !important; box-shadow: none !important; } .list-md .item-input:last-child { border-bottom-color: transparent !important; box-shadow: none !important; }