/* Empty. Add your own CSS if you like */
.KeyboardNumber .popup {
    width: 90%;
    height: 41%;
}

.KeyboardNumber .popup-head {
    display: none;
}

$font-family-base: Microsoft JhengHei;

/***跋办***/
.bottom_BLOCK {
    font-size: small;
    color: #FFFF37;
    text-align: right;
}

/***input***/
input[type] {
    font-size: larger;
    background-color: black;
    color: white;
    border: solid #6C6C6C;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;

    &:focus {
        border: solid #FF8040;
    }
}

/***blockmenu***/
.mylist {
    margin: 0px 0px 0px 0px !important;

    & ion-item {
        border-width: 1px 1px 1px 1px;
        border-style: solid;
        border-color: white !important;

        & ion-label.item-left {
            max-width: 30% !important;
        }
    }
}

/***璹ion-grid***/
.mytable {
    //column硄ノ
    & ion-col {
        font-size: 0.95em;
        text-align: center;
        padding: 4px;
        border-collapse: collapse;
        border: 1px solid #feb3b9;
    }

    //夹肈
    & .mytable_Head {
        background-color: #FF7A85;
        color: #FFFFFF;
    }

    //灿
    & .mytable_Detail {
        color: #000000;

        //计︽
        &:nth-child(odd) {
            background-color: #fed2d6;
        }

        //案计︽
        &:nth-child(even) {
            background-color: #fdfdfd;
        }
    }
}

$toolbar-ios-height:40px;
ion-toolbar{max-height:40px;}
