// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
/* Empty. Add your own CSS if you like */

//#region
//溫度選擇 toggle
.toggle_temp {
    opacity: 0.8;

    &.toggle-checked {
        opacity: 1;
    }

    & .toggle-icon {
        @media all and (max-width:480px){
            background-color: white;
            margin-top: -20px !important;
        }
    }
}

//溫度文字的顏色
//+
.input_pos_temperature {
    & input {
        background-color: black;
        color: white;
    }
}
//-
.input_neg_temperature {
    & input {
        background-color: #FFD306;
        color: red;
    }
}

.mysegment {
    height: 40px;

    & .segment-button {
        height: inherit;
        width: 40px;
    }

    & .segment-activated {
        color: white;
        font-size: x-large;
        background-color: #488aff;
    }
}
//#endregion
