// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
/* Empty. Add your own CSS if you like */

//#region
//溫度選擇 toggle
.toggle_temp {
    opacity: 0.8;

    &.toggle-checked {
        opacity: 1;
    }

    & .toggle-icon {
        @media all and (max-width:480px) {
            background-color: white;
            margin-top: -20px !important;
        }
    }
}

//溫度文字的顏色
//+
.input_pos_temperature {
    & input {
        background-color: black;
        color: white;
    }
}
//-
.input_neg_temperature {
    & input {
        background-color: #FFD306;
        color: red;
    }
}

.mysegment {
    height: 40px;

    & .segment-button {
        height: inherit;
        width: 40px;
    }

    & .segment-activated {
        color: white;
        font-size: x-large;
        background-color: #488aff;
    }
}
//#endregion

/* Empty. Add your own CSS if you like */
.KeyboardNumber .popup {
    width: 90%;
    height: 41%;
}

.KeyboardNumber .popup-head {
    display: none;
}

$font-family-base: Microsoft JhengHei;

/***Legion***/
.bottom_BLOCK {
    font-size: small;
    color: #FFFF37;
    text-align: right;
}

/***input***/
input[type] {
    font-size: larger;
    border: solid #6C6C6C;

    &:focus {
        border: solid #FF8040;
    }
}

.mytextarea {
    font-size: larger;
    border: solid #6C6C6C;
    width: 100%;
    color: white;
    background-color: black;

    &:focus {
        border: solid #FF8040;
    }
}

.myScanBarcodeUI_Label {
    color: white;
    font-size: large;
    margin-top: 10px;
}

.myScanBarcodeUI_input input {
    color: white;
    height: 40px;
    margin-top: 7px;

    &:focus {
        border: solid #FF8040;
    }
}

.myScanBarcodeUI:focus {
    border: solid #FF8040;
}

/***block_menu***/
.mylist {
    margin: 0px 0px 0px 0px !important;

    & ion-item {
        border-width: 1px 1px 1px 1px;
        border-style: solid;
        border-color: white !important;

        & ion-label.item-left {
            max-width: 30% !important;
        }
    }

    & ion-row {
        padding-left: 16px;
        border-width: 1px 1px 1px 1px;
        border-style: solid;
        border-color: white !important;
        font-size: 16px;

        & ion-col {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}

/***ion-grid***/
.mytable {
    //column
    & ion-col {
        font-size: 0.95em;
        text-align: center;
        padding: 4px;
        border-collapse: collapse;
        border: 1px solid #feb3b9;
    }
    //Grid Head
    & .mytable_Head {
        background-color: #FF7A85;
        color: #FFFFFF;
    }
    //Grid row
    & .mytable_Detail {
        color: #000000;
        //odd row
        &:nth-child(odd) {
            background-color: #fed2d6;
        }
        //even row
        &:nth-child(even) {
            background-color: #fdfdfd;
        }
    }
}

/* my Progress Bar */
.myProgressBar {
    background-color: white;
    border-radius: 100px;

    .loader {
        background: #f20d49 !important;
        border-radius: 100px;
        height: 20px;

        p {
            text-align: center;
            color: white !important;
            text-align: center;
        }
    }
}
