/* Empty. Add your own CSS if you like */
.KeyboardNumber .popup {
    width: 90%;
    height: 41%;
}

.KeyboardNumber .popup-head {
    display: none;
}

.title {
    font-family: Microsoft JhengHei;
}

.detail {
    font-family: Microsoft JhengHei;
    font-size: medium;
}

/*** button ***/
button.button.button-small {
    font-size: xx-large;
}

    button.button.button-small.button-energized {
        color: red;
    }

/***input***/
input[type=password] {
    font-family: Microsoft JhengHei;
    font-size: larger;
    background-color: black;
    color: white;
    border: 3px solid #6C6C6C;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=tel] {
    font-family: Microsoft JhengHei;
    font-size: larger;
    background-color: black;
    color: white;
    border: 3px solid #6C6C6C;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text] {
    font-family: Microsoft JhengHei;
    background-color: black;
    color: white;
    border: 3px solid #6C6C6C;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=tel]:focus {
    border: 3px solid #FF8040;
}

input[type=password]:focus {
    border: 3px solid #FF8040;
}

input[type=text]:focus {
    border: 3px solid #FF8040;
}


/***backgroud***/
.back {
    font-family: Microsoft JhengHei;
    background-color: #212121;
}

.con_back {
    font-family: Microsoft JhengHei;
    background-color: #2D2D2F;
    color: #F0F0F0;
    font-size: medium;
}

/***block¡Bmenu***/
.btn_list {
    font-family: Microsoft JhengHei;
    background-color: #212121;
    font-size: larger;
    color: #ff7575;
}